* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
}

li,
a {
        text-decoration: none;
        list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.App {
        overflow: hidden;
        font-size: 1.6rem;
        min-height: 100vh;
        width: 100%;
        position: relative;
}
