$primary-color-main: #2196f3;
$primary-color-dark: #1769aa;
$primary-color-light: #4dabf5;

$secondary-color-main: #f50057;
$secondary-color-dark: #ab003c;
$secondary-color-light: #f73378;

$semantic-color-main: #ffd74c;
$semantic-color-dark: #ffcd1f;
$semantic-color-light: #ffe179;

$primary-font-color: #fefefe;
$secondary-font-color: #171717;

$primary-error-color: #ea2027;
$primary-success-color: #27ae60;
$ruler: 8px;
