.container {
        height: 100%;
        min-height: 100vh;
        padding: $ruler * 24 $ruler * 2 0 $ruler * 2;

        & > *:first-child {
                min-height: calc(100vh - 64px);
        }
}
