.btn {
        text-transform: capitalize;
        color: $secondary-font-color;
        font-size: 1.6rem;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        padding: $ruler * 2 0;
        font-weight: bold;
        transition: 0.2s ease-in;
        & > *:not(:last-child) {
                margin-right: $ruler;
        }

        &__icon {
                margin-bottom: $ruler;
                &:hover,
                &:active {
                        color: $primary-color-main;
                }
        }

        &--lg {
                font-size: 1.8rem;
        }

        &--sm {
                font-size: 1.6rem;
        }

        &__form {
                transition: 2s ease-in-out;
        }

        &__link {
                padding: $ruler $ruler * 3;
                border-radius: 3px;
                color: $primary-font-color;
                font-weight: 500;
                background-color: $secondary-color-main;
                display: block;
                z-index: 1;
                overflow: hidden;
                position: relative;
                text-align: center;

                &:hover {
                        // background-color: $secondary-color-light;
                        &::before {
                                transform: scale(3, 1);
                        }
                }

                &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        transition: 0.3s ease-in;
                        @include MaxHeightAndWidth;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transform: scale(0, 1);
                        background-color: $secondary-color-light;
                        opacity: 1;
                }
        }
}
